In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_excel("/kaggle/input/cars-final-version/FINAL_DATASET.xlsx", engine='openpyxl')
data.head()

,Marque,Modèle,Kilométrage,Carburant,Boite Vitesse,Puissance Fiscale,Carrosserie,Année,Prix,Ann_Obtention
0,Renault,Capture,121000,Essence,Manuelle,5.0,Autres,2019,43000DT,NaN
1,Seat,Ibiza,97000,Essence,Manuelle,4.0,Compacte,2018,43500DT,NaN
2,Mercedes-Benz,Classe A,135000,Diesel,Automatique,6.0,Compacte,2019,93000DT,NaN
3,Peugeot,Expert,154000,Diesel,Manuelle,5.0,Utilitaire,2019,57000DT,NaN
4,Mercedes-Benz,207D,0,Diesel,Manuelle,0.0,Autres,1981,10000DT,NaN

In [3]:
display(data)

,Marque,Modèle,Kilométrage,Carburant,Boite Vitesse,Puissance Fiscale,Carrosserie,Année,Prix,Ann_Obtention
0,Renault,Capture,121000,Essence,Manuelle,5.0,Autres,2019,43000DT,NaN
1,Seat,Ibiza,97000,Essence,Manuelle,4.0,Compacte,2018,43500DT,NaN
2,Mercedes-Benz,Classe A,135000,Diesel,Automatique,6.0,Compacte,2019,93000DT,NaN
3,Peugeot,Expert,154000,Diesel,Manuelle,5.0,Utilitaire,2019,57000DT,NaN
4,Mercedes-Benz,207D,0,Diesel,Manuelle,0.0,Autres,1981,10000DT,NaN
...,...,...,...,...,...,...,...,...,...,...
14343,Renault,Kadjar,120 000km,Essence,Manuelle,7cv,Citadine,NaN,65 000 DT,11.2017
14344,Toyota,RAV 4,150 000km,Essence,Automatique,9cv,SUV/4x4,NaN,125 000 DT,8.2020
14345,Volkswagen,Polo Sedan,58 000km,Essence,Manuelle,5cv,Berline,NaN,42 000 DT,4.2016
14346,Peugeot,Expert,190 000km,Diesel,Manuelle,9cv,Utilitaire,NaN,Sous leasing 64 800 DT,3.2022
14347,Audi,A5 Sportback,70 000km,Essence,Automatique,8cv,Berline,NaN,122 000 DT,11.2019

In [4]:
data.shape

(14348, 10)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14348 entries, 0 to 14347
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Marque             14295 non-null  object
 1   Modèle             14250 non-null  object
 2   Kilométrage        14315 non-null  object
 3   Carburant          14283 non-null  object
 4   Boite Vitesse      14298 non-null  object
 5   Puissance Fiscale  14202 non-null  object
 6   Carrosserie        14180 non-null  object
 7   Année              9206 non-null   object
 8   Prix               14348 non-null  object
 9   Ann_Obtention      5057 non-null   float64
dtypes: float64(1), object(9)
memory usage: 1.1+ MB

# **Creating backup copy**

In [6]:
backup=data.copy()

# **Quality**

* price column has unnecessary spaces in some insatances and always a "DT" at the end. 
* some values in the price columns have "sous-leasing" or "non dedouané" along with the price .
* Kilometrage values have unnecessary spaces and sometimes "km" at the end as well as empty values (tnajem houni thot l mean fi blaset l 'nan' ya hamma )
* puissance fiscale : -too many falsified values 
                      -sometimes have 'cv' at the end 
*

# **cleaning data**

# **'Prix' column**

In [7]:
display(data['Prix'].sample(n=100))

7886    37 000 DT
988      103000DT
7318    54 500 DT
9558    78 000 DT
4731      21500DT
          ...
2056      38000DT
4935      10700DT
28        65000DT
6907    25 300 DT
1441      14000DT
Name: Prix, Length: 100, dtype: object

In [8]:
unique_p=data['Prix'].unique()
unique_p

array(['43000DT', '43500DT', '93000DT', ...,
       'Sous leasing                    223 600 DT',
       'Sous leasing                    212 700 DT',
       'Sous leasing                    64 800 DT'], dtype=object)

In [9]:
# # Convert the array to a DataFrame with a single column
# unique_p_df = pd.DataFrame(unique_p, columns=['Unique Values'])

# # Set the maximum number of rows to display
# pd.set_option('display.max_rows', None)

# # Print the DataFrame
# print(unique_p_df)

# defining a function leaving only numerical values

In [10]:
import re

def extract_numerical_value(text):
    # Use regular expression to find numerical values in the string
    matches = re.findall(r'\d+\s*\d*', text)
    if matches:
        # Replace any whitespace characters with an empty string before joining
        cleaned_matches = [match.replace(' ', '') for match in matches]
        # Join all cleaned matches
        return ''.join(cleaned_matches)
    else:
        return None

In [11]:
data['Prix'] = data['Prix'].apply(lambda x: extract_numerical_value(x))

# delete spacings
data['Prix'] = data['Prix'].str.replace(' ', '')

# Replace 'DT' by '' 
data['Prix'] = data['Prix'].str.replace('DT', '')

# Convert it into numerical 
data['Prix'] = pd.to_numeric(data['Prix'], errors='coerce')

# drop non-numerical values
data.dropna(subset=['Prix'], inplace=True)

# Convert into int 
data['Prix'] = data['Prix'].astype(int)

In [12]:
display(data['Prix'].sample(n=100))

13960     22500
8121      57000
3075      64500
3759      36000
11761     21000
          ...
2144      42000
7379     112000
10893     50000
1626     180000
12835    103000
Name: Prix, Length: 100, dtype: int64

In [13]:
data['Prix'].unique()

array([ 43000,  43500,  93000,  57000,  10000,  29000,  49500,  39500,
        36800,  24000,  27000,  84000,  74000,  14500, 140000,  18800,
        19500, 285000,   9000,  11500,  15000,  23500,   9800,  12500,
        35000,  42500,  47000,  65000,  31000,  54000,  37800,  32000,
        44800,  30900,  28000,  91000,  15500,  41000,  42000,  49000,
       200000,  98000,  38800, 190000,  50900,  39800,  27500,  85000,
        23000,  33000,  31500, 101200,  41499,  18500,  38000,  77000,
        59000,  79500,  33500,  34000,  46500,   8500,  41500,  46000,
        34800,  67000, 125000,  22000,  52000,  16500,  70000,  36500,
        37000,  40000,  34700,  19000,  22500,  48000,  52500,  38500,
        44500,  16000,  34500,  50000,  82000,  36000,  29500,  78000,
       123456,  95000,  55000,  47498,  45000,  60000,  30500,   6500,
        20000,  62000,  66000,  71000, 215000,  92000,  13000,  26500,
        26900,  21900,  32799,  30000,  21000, 173000,  17500,  10500,
        63000,  25500,  39000,  75000, 254000,  26800,  67700,  68500,
        24500,  61000,  12000,  35500, 135000,  18600,  79000,  17900,
        48500, 340000, 258000,  37942,  25000,  19200,  72500,  32800,
        11111,  18000,   7000,  99999,  28500,  32500,  26000,  18900,
        16200,  58500,  58000,  87000,  25300,   9500, 148000,  83000,
       130000,  80000, 118000, 105000, 108000,  36900,  30700,   7800,
        14000,  13500, 145000,   5555,  33900,  14800,  39600,  63500,
        59500, 123000,  68000,  37500, 185000,  96000,  76000, 149500,
       133000,  69500,  74500,   9999,  40500,   9300,  56000,  25800,
        27900,  37900,  21500, 107000,  69000, 109000,  57500,  44000,
        53500,  13400,  47500,  90000,  18700,  37600, 110000, 115000,
        54500,  62500,  34900,  49800,  89000, 150000, 240000, 117000,
        49900,  57900,   6000,  18300,  15700,  20500,  19900,  98500,
        12345,  42300, 119000,  22800,  23900, 127000,  89500,  13002,
        88500,  86500,  87500,  11000,  73000, 180000,  88000,  33999,
       128000,  29800,  19700,  38600,  24900, 160000, 178000, 210000,
       138000,  88888,  43800, 999999,  45498,  60500,  17800,  72000,
        86000, 390000,  38700, 149000,  28700, 120000, 142000,  23800,
       158000,  54999,  25600,  53000,  38900,  52900,  42800,   9200,
        19800,  75500,  17000,  56500,  81000,  53900,  41997,   8000,
       460000, 119500,  64000,  43999,  25998,  41800,  97000,  67500,
        31200,  31999,  39900, 170000,  51500, 155000,  30498,  14900,
        43200,  26200,  32900,  22222, 104000, 250000,   7400,  26400,
       165000,  33800,  51000, 111111,  35900,  77500,  20800,  37700,
       103000,  59999,  33333,  48900,  46700,  25900,  36799, 100000,
       275000,  71500, 132000,  36999, 147000, 195000, 168000, 112000,
        83500, 248000, 219000, 185001,  31002,  31900, 122000,  25700,
         7500,   6800,  26300,  30001,  29999,  32400, 153000, 113000,
        21700,  16800,  10300,  43499,  30400,  78200,   5500, 107500,
        15200,  68994,  10700,  60998, 225000,  16900,  27800,   7200,
        34200,  55500,  45500,  69800,  99000,  47900,  16700,  47700,
       134999, 118846,  53800,  81500,  16300, 450000,  19300,   6700,
        36700,  29900,  40700,  37300,  39999,  84500, 163000,   6850,
        40900,   9400,  89900,  41250,  99900,  82500,  68999,  56800,
       123548,  44999,  32998,  35800,  20302, 950000, 116000,  10009,
       175000,  12300,  42900, 139500, 114999,  19400,  13800,  56499,
        51999,  19600, 580000,  24499,  24300,   7300,   8800, 129000,
        35998,  66500,  46499, 220000, 259000,  28800, 320000, 139000,
        15800,   8400,  10800,  21200,  40850,   8200,  34999, 102000,
       280000,  85500,  44900,  77999, 295000, 360000,  22400, 147997,
       480000, 238000,  17700,  45999,   8700,  35700,   7700,  82739,
         9998,  28900,  25400,   5900, 230000,  18200,   9600,  30999,
        18499,  45900,   6200, 154000,  65500,  59900,  29200,  46900,
       249000,  34600,  18400,  89999,   5200,  28600,  28300,  86200,
       350000, 222222,   5100,  70800,  11200,  11300,  29498, 189000,
       270000,  21999, 171000,  12600,  76001,  15300,  21800,  10005,
        17300,  14998, 325000,  64500,  20499,  45700,  21300,  23100,
        59800,  11800,  54900, 310000,  28999,  13900,  14999,  17400,
        12800,  51200,  26150,  20300, 114900,  68900,  41900,  43300,
        62900,  74900,  36200,  78500,  24800,  45800,  11700,  18999,
         5499,  26700,   8900,  22900,  12850, 260000,   5800,  88600,
       115700,  28200,  12700,  63800,  27300,  91500,  38499,  49003,
        47800, 117800,  67300, 290000, 385000, 440000, 153500, 113500,
       208000, 175600, 159000, 125500,  60800, 235000, 205000, 169000,
        50500,  49200,  94000, 245000, 229000, 137000,  78800, 115800,
        99500,  84900, 535000, 151000,  72900,  64900,  73900, 124000,
       109500,  67900,  76900,  66900,  79900, 172000,  84800, 136000,
       134500, 144000,  42200,  82900, 137500, 198000, 181000, 379000,
       380000, 126000, 530000, 183000, 435000, 430000,  69900, 247000,
       264200, 143000, 188000, 122800, 179000, 255000, 182900, 151400,
       420000, 193000, 173500, 174000, 157000, 154500,  76500, 269000,
       268000, 134000, 445000, 199000, 326000, 118500, 297000, 265000,
       253000, 355000, 228000,  75700,  52400, 187000,  70500, 330000,
        28400, 180500, 122500,  73500, 496000, 748000, 358000, 167000,
        80500,  39200, 133500, 101500,  62800,  41200,  44600,  49400,
       106000, 114000, 409000, 131000, 129500, 650000, 410000,  61500,
        75900, 179500, 214000,  73300,  51800,  20200,  48800,  25200,
         5557,  33400,  17600, 395000, 111000,  13200,  63600,  24780,
        41700,  33700,  47750,  24600,   7950,  19997,  19750,  38200,
        55100,  75002, 114800,  29400,  62999,  12340,  10999,  39990,
        10998,  23700,  40800,  26999,   8300,  65985,  55998, 141000,
        31800,  52800,  57798,  75800, 132500,  23333,  16400, 157500,
        31700,  15900, 289000,  14600,  13700,  23200,  78998,  67600,
        22700,  29499,  20002,  55999, 237000,  42600,  66667,  35999,
        11100,  12499,  78001,  93498,  27999,  66666,   6750, 129800,
       305000,  29600,  11198,   5400,   5600,  43600,  35499, 328000,
        39998, 199999,  49950,  22600,  48998,  35600, 145500,   6300,
        90500,  17200,  14700,  51900,  32999, 470000,  36978,  43713,
       182000,  21499,  14499,  24200,  33300,  20999,  39499, 139999,
         7990, 335000,  46498,   7600, 900000,  25999, 124556,  18599,
        39300,  33200, 203000,  42700, 654321,  41998,  32498,  14990,
        10200, 152000,  85900,  61999,  55700,  66750, 138500,  12356,
        26499,  21799,  41989, 213000, 425000, 369000, 287000, 207000,
       175900,  63900, 168800,  66600, 255600, 132200, 150600, 181200,
       212000, 218000, 197000, 315000, 108500, 119700, 333600, 375000,
       222400, 177000,  69400,  80200,  86900,   4700, 171200,  54800,
        27200, 239000,  95100,  29300,  10900, 119900, 300000, 223600,
       212700,  64800])

In [14]:
data['Prix'].describe()

count     14348.000000
mean      64134.346738
std       63545.168136
min        4700.000000
25%       29000.000000
50%       45000.000000
75%       78000.000000
max      999999.000000
Name: Prix, dtype: float64

In [15]:
data['Prix'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 14348 entries, 0 to 14347
Series name: Prix
Non-Null Count  Dtype
--------------  -----
14348 non-null  int64
dtypes: int64(1)
memory usage: 112.2 KB

this part dropped 0 datapoints from the dataset

# "kilometrage" column

In [16]:
display(data['Kilométrage'].sample(n=100))

4066      http:N/A
12548          150
4723        208000
8990      90 000km
13919     35 000km
           ...
4122             0
3302        165000
7462     169 000km
9367     140 000km
6547     148 000km
Name: Kilométrage, Length: 100, dtype: object

In [17]:
print(data['Kilométrage'].unique())

['121000' '97000' '135000' ... '24 500km' '440 000km' '162 500km']

In [18]:
# get rid of spaceing
data['Kilométrage'] = data['Kilométrage'].str.replace(' ', '')

# Replace 'DT' by ''
data['Kilométrage'] = data['Kilométrage'].str.replace('km', '')

# Convert the columns into numerical 
data['Kilométrage'] = pd.to_numeric(data['Kilométrage'], errors='coerce')

# drop the null values 
data.dropna(subset=['Kilométrage'], inplace=True)

# convert all values into "int"
data['Kilométrage'] = data['Kilométrage'].astype(int)

In [19]:
# Drop rows with 'Kilometrage' values larger than 10,000,000 and less than 1,000
data = data[(data['Kilométrage'] <= 10000000) & (data['Kilométrage'] >= 1000)]

In [20]:
data['Kilométrage'].unique()

array([ 121000,   97000,  135000,  154000,    1000,  130000,  180000,
         41500,  226000,   80000,  120000,   74000,  348000,   82000,
         76000,  500000,  137000,   73500,   67000,  203000,   48000,
         40000,   80500,  100000,   56250,  240000,   53000,  125000,
        210000,  110000,   90000,  236000,  122366,   70500,   87000,
        143000,  220000,  126000,   83000,  105000,  123321,   57500,
         62000,   84000,   39000,   18750,  405000,   78500,  157000,
        150000,  187000,   63000,  145000,   21000,  103000,  250000,
        623000,  217000,  234000,   21400,  212000,  141000,  148000,
        320000,  369000,  215000,  230000,   52000,   51000,  197000,
         43000,  155000,   72000,   98000,   73290,  183000,   74086,
        142000,  300000,   99500,   99000,  144000,   64000,  117000,
        147000,   49000,  169000,   47000,   81000,  200500,  181800,
        206000,  280000,  228000,  445000,  270000,  176000,  170000,
         60000,  101000,  153000,  179000,  195500,  107000,  113000,
        162000,    8000,   42000,  140000,  152000,  350000,   65000,
        189000,   38800,  190000,  200000,  130500,   15000,   16000,
         70000,  600000,  235000,  128000,  271000,  115000,  281000,
        452000,  256000,   95000,   22000,  186000,   80125,  168000,
        185000,  347000,  151000,  193000,  290000,    2696,   11800,
         93000,   35000,  106000,   78000,   75000,   85000,  245000,
        249000,  188000,   45000,  175000,   12000,  122700,  295500,
        116000,   92000,  204000,  287000,  136000,  174000,  279000,
         36000,  141522,   61000,   59000,   55000,   86000,  132000,
        161000,   73000,  195000,  207000,  172000,   14000,   26000,
         27000,   56000,  275000,   28000,  160000,   94000,  550000,
        192000,   91000,   32000,  119000,  159000,   89000,  118000,
        419000,   71000,  131000,   86600,   88000,  181000,  171000,
         58000,  345000,  165000,  335000,  201000,  330000,  194000,
        178000,  219000,  102000,    2020,   79000,  296000,  233000,
        422000,  224000,  284000,   19000, 1111111,  208000,    1111,
        210973,  364000,  198000,   38000,  285000,  149000,   77000,
         79999,  124000,  225000,    1110,    7000,   69000,   66000,
        191000,  396000,  205000,   22222,  379999,  254777,  129000,
        134000,  196153,  247000,   29000,   90100,  390000,  146000,
        312000,   41000,  259000,  888800,  123000,  278000,  400000,
        265000,  163000,  296500,    2000,  198850,  104000,  269000,
        213000,   46000,  227000,  127000,  241000,    2080,  239000,
          5860,    3700,    6000,  373000,   34000,  112000,  460000,
        421000,  306000,   68500,   30000,  370000,   74500,  295000,
        336000,  162981,  132600,  111000,   35711,  293000,   13000,
        299000,  268000,   76500,   27800,  189930,  182000,  151380,
         21150,  266000,   64258,   11500,  720000,  430000,  286000,
         31000,   50000,  138000, 2710000,    1234,  224500,  133000,
         25000,  177000,  372200,  213830,   31500,   96000,  222000,
        489000,   54000,    7500,   75600,  199000,  260000,   37000,
        333333,   20000,  184000,  354000,  850000,  258000,  166000,
        298000,  248000,  122000,  222222,  344000,  358000,  355000,
        395000,  231000,  223000,  214000,  256926,   90092, 2000000,
         10000,   98500,  680000,  137600,  108000,  236500,  113700,
        142200,  111704,  220811,  311000,  274000,   29400,  114000,
        211000, 1003000,  109000,   21500,  170734,  179341,  304000,
         33000,  138500,  164000,  137450,  316000,  236654,   68000,
         81400,  450000,  347752,   89300,  342000,  360000,  560000,
         76400,  310000,   91200,    4444,    5000,  229000,  282000,
        167000,   50110,   84378,    4000,    5555,   32700,   53900,
         33697,  252000,   17000,  188576,  385000, 9999999,  111111,
        177890,  999999,   24000,  520000,  319000, 1352000,   27400,
       1900000,   44000,  163600,  196000,  232000,   39436,  365000,
         13732,   57000,  216000,  243000,   11000,   52003,  292000,
        251000,  169800,  437000,  538000, 1680000,  332000, 1588878,
         39500,  351000,   58500,  124197,  263000,   93400,   93500,
          1550,  174400,   60500,   50216,    4901,  132910,  220124,
        104615,  173000,  152157,  297000, 1235468,   67900,  195300,
        262000,  650000,   28495,  357000,  201732,   67829,  156000,
        575000,  265690,   67700,  199234,  230550,  123456,  255000,
         20600,  303000,  150389,  201500,  283281,  182750,  321000,
        283300,  267000, 1000000,  323000,  164100,  294000,  101400,
        107002,  346520,  380000,  347500,  139000,  322000,   49500,
        221000,   18500,  384006,  238000,  115083,  242000, 2880000,
        204500,  164875,   55700,  253992,  113837,   35200,   59600,
        455000,   11111,  129900,  139400,   62300,   37500,   17852,
        216527, 1320000,  203300,  177100,  158000,    3000,  124600,
         59111,  111180,  710000,   35500, 2500000,  246000,  118897,
         86500,   17250,  237350,   77500,  470000,  143520,  315000,
        127600,    9200,   90123,   24700,  110202,    9800,  209000,
        666666,  420000,  825565,   51650,   49600,  180500,  410000,
        235065,   84500,  483019,   96900,  288888,  170300,  214027,
        241979,  171432,  267329,   90634,    7136,   95400,  200218,
        327000,   29341,   70700,   99845,   79500,  200600,  537000,
        109250,  237000,  218000,   68906,   54214,   88466,  291000,
          9000,  212445,  115800,    9999,  122511,  309000, 3400000,
        198225, 3828854,  202000,  242700,  140230,  502000,  147400,
         21100,  345211,  370450,  570000,  176700,   18877,   95500,
         85500,   72034,  224772,  163500,  488600,  189619,  137700,
        443000,  264000,    1999,  310668,  171100,  124500,  134200,
       2220000,    2600,  106043,  530000,  394000,  544000,   84400,
        399999,  268297,    4999,   77800,  317000,   70658,   81334,
        111149,  454000,   77885,  272000,   46800,  397250, 4501995,
        182500,  139600,  273000,  163800,  257000,    2100,   12345,
        100200,  398000,   23000,   13500,   23800,  943000,  340000,
        111500,  111240,   64009,   85900,   33062,  139300,   18000,
         39870,  253000,   69500,  876000,  334000,  307000,  325000,
        308000,  276000,  349000,  305000,  131090,   33500,  126800,
          4700,   59300,   65500,  111147,   72044,   46735,   53080,
        253557,    4315,   97059,   75822,   63386,   36746,   32529,
         58499,   65786,   31915,   48257,   17313,   65004,   53634,
        124776,   29241,  118018,  237273,   84476,   44816,   40500,
          6500,   15500,   44500,   97500,  154100,  119900,   18800,
        366000,   36500,  212200,   36667,   26500,   30200,   39900,
         48900,  262578,  200100,  214995,  105390,  100123,   94910,
        199500,   26700,   66500,    9900,  111170,   49653,   16350,
         50800,   70800,   68400,  410592,   38700,  254000,  375000,
         92300,    4500,  277000,    8500,   22180,    1500,   46500,
        178400,  301000,  328000,  244000,  350836,    3900,  480000,
         23700,   19500,   69600,   83800,   38200,    2400,   35800,
         86400,   25800,    1400,   89800,  404000,   43611,   42500,
         13990,    4359,  128500,   11600,  147500,  239600,   72194,
        226817,  120226,  337000,    8800,   30900,  109400,   50200,
         25407,   32900,  123290,   53753,   83449,   26997,   72293,
         34369,   53970,   88250,   62382,   36879,   67400,  134500,
        105600,    3800,  376000,  344500,  840000,  130182,  114500,
        145865,  149500,  187500,   99300,   99766,  208233,  168500,
        192357,   13872,  143300,   52320,   49700,  154601,    4200,
         64250,  738000,  378000,  108500,  391000,   62500,   57041,
         72500,  202100,  359000,  115123,  475000,   16800,   29600,
         45588,   45500,   90700,   43500,   23400,   24500,  440000,
        162500])

In [21]:
display(data['Kilométrage'].sample(n=100))

8707     128000
13379     37000
8472      69000
1293     153000
3710     130000
          ...
369      195000
7576     231000
4384      63000
14059    128000
7755     360000
Name: Kilométrage, Length: 100, dtype: int64

In [22]:
data

,Marque,Modèle,Kilométrage,Carburant,Boite Vitesse,Puissance Fiscale,Carrosserie,Année,Prix,Ann_Obtention
0,Renault,Capture,121000,Essence,Manuelle,5.0,Autres,2019,43000,NaN
1,Seat,Ibiza,97000,Essence,Manuelle,4.0,Compacte,2018,43500,NaN
2,Mercedes-Benz,Classe A,135000,Diesel,Automatique,6.0,Compacte,2019,93000,NaN
3,Peugeot,Expert,154000,Diesel,Manuelle,5.0,Utilitaire,2019,57000,NaN
5,Citroen,C4,1000,Essence,Manuelle,6.0,Berline,2013,29000,NaN
...,...,...,...,...,...,...,...,...,...,...
14343,Renault,Kadjar,120000,Essence,Manuelle,7cv,Citadine,NaN,65000,11.2017
14344,Toyota,RAV 4,150000,Essence,Automatique,9cv,SUV/4x4,NaN,125000,8.2020
14345,Volkswagen,Polo Sedan,58000,Essence,Manuelle,5cv,Berline,NaN,42000,4.2016
14346,Peugeot,Expert,190000,Diesel,Manuelle,9cv,Utilitaire,NaN,64800,3.2022
14347,Audi,A5 Sportback,70000,Essence,Automatique,8cv,Berline,NaN,122000,11.2019

this phase dropped 4336 rows

# "Puissance Fiscale" column

In [23]:
data['Puissance Fiscale'].unique()

array(['5.0', '4.0', '6.0', '7.0', '9.0', '36.0', '10.0', '0.4', '11.0',
       '8.0', '0.0', '84.0', '12.0', '15.0', '128.0', '18.0', '3.0',
       '16.0', nan, '0.5', '31.0', '17.0', '13.0', '180000.0', '24.0',
       '20.0', '130.0', '103.0', '1.6', '21.0', '1.3', '270.0', '65.0',
       '80.0', '28.0', '19.0', '67.0', '27.0', '1000.0', '0.7', '85.0',
       '1399.0', '1.0', '14.0', '222.0', '44.0', '156.0', '198.0', '69.0',
       '1.9', '23.0', '21000.0', '8000.0', '111508.0', '22.0', '101.0',
       '150.0', '51818.0', '16.115', '1200.0', '70.0', '4.2', '25.0',
       '55.0', '7500.0', '0.6', '-10.0', '43.0', '142.0', '113.0',
       '1198.0', '241.0', '30.0', '66.0', '26.0', '68.0', '280000.0',
       '144.0', '81.0', '2017.0', '2019.0', '3399.0', '116.0', '11500.0',
       '2004.0', '876.0', '2.0', '2021.0', '194.0', '88500.0', '123.0',
       '5cv', '20cv', '9cv', '12cv', '7cv', '10cv', '8cv', '15cv', '6cv',
       '29cv', '17cv', '33cv', '24cv', '4cv', '11cv', '21cv', '18cv',
       '19cv', '23cv', '32cv', '16cv', '28cv', '30cv', '27cv', '13cv',
       '31cv', '22cv', '25cv', '14cv', '26cv', '43cv', '44cv', '47cv',
       '34cv', '42cv', '41cv', '48cv'], dtype=object)

In [24]:
# Supprimer "cv" de toutes les valeurs de la colonne 'Puissance Fiscale'
data['Puissance Fiscale'] = data['Puissance Fiscale'].str.replace('cv', '')

# Convert
data['Puissance Fiscale'] = pd.to_numeric(data['Puissance Fiscale'], errors='coerce')

# Eliminer les valeurs inférieures à 4
data = data[data['Puissance Fiscale'] > 4]
# Eliminer les valeurs supérieures à  100
data = data[data['Puissance Fiscale'] <= 100]

# Convertir les valeurs en type int
data['Puissance Fiscale'] = data['Puissance Fiscale'].astype(int)

In [25]:
data['Puissance Fiscale'].unique()

array([ 5,  6,  7,  9, 36, 10, 11,  8, 84, 12, 15, 18, 16, 31, 17, 13, 24,
       20, 21, 65, 80, 28, 19, 67, 27, 85, 14, 44, 69, 23, 22, 70,  4, 25,
       55, 43, 30, 66, 26, 68, 81, 29, 33, 32, 47, 34, 42, 41, 48])

In [26]:
data

,Marque,Modèle,Kilométrage,Carburant,Boite Vitesse,Puissance Fiscale,Carrosserie,Année,Prix,Ann_Obtention
0,Renault,Capture,121000,Essence,Manuelle,5,Autres,2019,43000,NaN
2,Mercedes-Benz,Classe A,135000,Diesel,Automatique,6,Compacte,2019,93000,NaN
3,Peugeot,Expert,154000,Diesel,Manuelle,5,Utilitaire,2019,57000,NaN
5,Citroen,C4,1000,Essence,Manuelle,6,Berline,2013,29000,NaN
6,Volkswagen,Polo,130000,Essence,Manuelle,5,Berline,2021,49500,NaN
...,...,...,...,...,...,...,...,...,...,...
14343,Renault,Kadjar,120000,Essence,Manuelle,7,Citadine,NaN,65000,11.2017
14344,Toyota,RAV 4,150000,Essence,Automatique,9,SUV/4x4,NaN,125000,8.2020
14345,Volkswagen,Polo Sedan,58000,Essence,Manuelle,5,Berline,NaN,42000,4.2016
14346,Peugeot,Expert,190000,Diesel,Manuelle,9,Utilitaire,NaN,64800,3.2022
14347,Audi,A5 Sportback,70000,Essence,Automatique,8,Berline,NaN,122000,11.2019

this phase dropped 1126 rows

# "Ann_Obtention" and "Année"

In [27]:
display(data)

,Marque,Modèle,Kilométrage,Carburant,Boite Vitesse,Puissance Fiscale,Carrosserie,Année,Prix,Ann_Obtention
0,Renault,Capture,121000,Essence,Manuelle,5,Autres,2019,43000,NaN
2,Mercedes-Benz,Classe A,135000,Diesel,Automatique,6,Compacte,2019,93000,NaN
3,Peugeot,Expert,154000,Diesel,Manuelle,5,Utilitaire,2019,57000,NaN
5,Citroen,C4,1000,Essence,Manuelle,6,Berline,2013,29000,NaN
6,Volkswagen,Polo,130000,Essence,Manuelle,5,Berline,2021,49500,NaN
...,...,...,...,...,...,...,...,...,...,...
14343,Renault,Kadjar,120000,Essence,Manuelle,7,Citadine,NaN,65000,11.2017
14344,Toyota,RAV 4,150000,Essence,Automatique,9,SUV/4x4,NaN,125000,8.2020
14345,Volkswagen,Polo Sedan,58000,Essence,Manuelle,5,Berline,NaN,42000,4.2016
14346,Peugeot,Expert,190000,Diesel,Manuelle,9,Utilitaire,NaN,64800,3.2022
14347,Audi,A5 Sportback,70000,Essence,Automatique,8,Berline,NaN,122000,11.2019

In [28]:
data['Ann_Obtention'].unique()

array([    nan,  6.2018, 10.2018,  5.2019,  5.201 ,  7.2012,  1.2013,
        1.202 ,  3.2019,  3.2016, 12.2022,  6.2023,  8.2023,  9.2019,
        3.202 , 12.2023, 11.2022,  1.2021, 10.2019,  1.2009,  5.2014,
        8.2015, 11.2019,  6.2019,  6.2022,  8.2012,  4.201 , 10.2021,
        3.2018,  2.2017, 12.2007,  4.2022,  3.2022,  3.2013, 10.2022,
        5.2017,  7.2014,  1.2015,  4.2023, 10.2012, 11.2013,  1.2016,
       12.2016,  5.2018,  5.2022, 12.202 ,  2.2022,  1.2019, 11.2012,
        6.2021,  1.2018,  6.202 ,  9.2023,  8.202 ,  2.2016,  2.202 ,
        2.2019,  2.2018, 11.2021,  6.2009, 10.2017, 12.2009,  8.2017,
        9.2013, 11.202 ,  4.2014,  8.2022,  9.2014,  7.2015,  9.2012,
        8.2008,  8.2013,  3.2021,  8.2018,  1.201 ,  6.2016, 12.2018,
        9.2021,  2.2012, 12.2019,  6.2015,  5.202 ,  1.2022,  8.2019,
        9.202 ,  2.2013,  1.2012, 10.2013,  5.2013,  7.2013,  9.2018,
        4.2021,  2.2021,  8.2007,  8.201 ,  6.2012, 11.2018,  7.201 ,
        5.2003,  4.2013,  1.2014, 11.2017,  9.2017,  8.2021, 10.2014,
       12.2004,  7.2019,  4.2017, 10.2003, 10.201 ,  3.2011,  4.2012,
        6.2   ,  6.2013,  8.2004, 11.2011, 11.2008, 12.2015,  6.2014,
        2.2015,  8.2016,  5.2021,  1.1985,  9.2009, 12.2008, 11.2005,
        4.2011,  7.202 ,  3.2009,  6.2017,  5.2016,  4.2018, 10.2016,
       12.2013, 12.201 ,  4.2015, 12.2021, 10.202 ,  9.2011, 11.2015,
        7.2011,  7.2018,  5.2015,  5.2007, 12.2003,  7.2004, 12.2012,
        3.201 ,  7.2021,  2.2014,  4.2019,  4.2016,  4.2008,  1.2008,
        8.2009,  6.2006,  9.2016,  7.2006, 12.2014,  2.2011,  9.2008,
        7.2022,  5.2002,  5.2012,  8.2003,  2.2008, 10.2005, 11.2014,
        7.2017,  3.2017,  9.2022,  3.2005,  5.2011,  7.2016, 12.2017,
        4.2001,  3.2012, 11.201 , 10.2009, 11.2016, 12.197 ,  9.2015,
        6.201 ,  1.2011, 11.2003,  3.2015,  7.2023,  7.2008,  9.201 ,
        8.2014, 11.2023,  4.202 ,  1.2023,  6.2008,  6.2003, 12.2011,
        6.2011,  4.2007, 10.2015, 10.2006,  1.2024,  2.2024,  1.2017,
       10.2007,  5.2006,  6.2007,  3.2014,  5.2009,  2.2023, 11.2006,
        3.2024,  9.2002, 10.2008, 12.1992,  7.1998,  2.2007,  1.2003,
        5.2023,  1.1972, 12.2006,  8.2011,  3.2023, 12.1998,  3.2007,
        4.2003,  2.2009, 11.2009,  7.2007, 11.2   ,  6.2005,  7.2009,
        7.2005,  5.2005, 12.1999,  1.1991,  9.2005, 12.2002,  1.2007,
        7.2003,  1.2006,  2.201 ,  1.2004, 10.2023, 10.1963,  9.2003,
        6.1999, 10.2011,  5.2   ,  2.2006,  2.2   ,  5.2008, 11.1997,
        2.1999,  1.1999,  8.1994,  4.1999,  4.2024,  2.2004,  3.2   ,
        8.1999,  4.2009, 10.2004,  3.2008,  9.2004,  2.1985])

In [29]:
data["Année"].unique()

array(['2019', '2013', '2021', '2016', '2010', '2018', '2017', '2015',
       '2000', '2014', '2020', '2022', '2009', '2011', '2004', '1993',
       nan, '2006', '2023', '2007', '20', '2008', '2005', '2012', '2024',
       '2001', '2003', '1998', '1997', '1994', '1989', '1995', '1988',
       '1999', '1990', '1996', '45', '1984', '3.2014', '1992', '1985',
       '2002', '1991', '87', '1987', '1982', '20225', '98', '20197',
       '20028', '5', '1', '07.2019', '8.2016', '20205', '02.2019',
       '2011.0', '1953', '12.2018', '11.2019', '21012', '2015.0', '20114',
       '1961', '2018.0', '2017.0', '05.2011', '13', '092021', '2030',
       '2007.0', '135000', '95', '2014.0', '00000', '03.2019', '20175',
       '2006.0', '02.2021'], dtype=object)

In [30]:
# Loop through each row and apply transformations
for index, row in data.iterrows():
    if pd.isnull(row['Année']) and not pd.isnull(row['Ann_Obtention']):
        # Case 2: Extract year from 'mise en circulation' and assign to 'Année'
        year = str(row['Ann_Obtention'])
        data.at[index, 'Année'] = year
    elif pd.isnull(row['Année']) and pd.isnull(row['Ann_Obtention']):
        # Case 3: Drop the row if both 'Année' and 'mise en circulation' are empty
        data.drop(index, inplace=True)

# Drop the column 'mise en circulation'
data.drop(columns=['Ann_Obtention'], inplace=True)

In [31]:
display(data)

,Marque,Modèle,Kilométrage,Carburant,Boite Vitesse,Puissance Fiscale,Carrosserie,Année,Prix
0,Renault,Capture,121000,Essence,Manuelle,5,Autres,2019,43000
2,Mercedes-Benz,Classe A,135000,Diesel,Automatique,6,Compacte,2019,93000
3,Peugeot,Expert,154000,Diesel,Manuelle,5,Utilitaire,2019,57000
5,Citroen,C4,1000,Essence,Manuelle,6,Berline,2013,29000
6,Volkswagen,Polo,130000,Essence,Manuelle,5,Berline,2021,49500
...,...,...,...,...,...,...,...,...,...
14343,Renault,Kadjar,120000,Essence,Manuelle,7,Citadine,11.2017,65000
14344,Toyota,RAV 4,150000,Essence,Automatique,9,SUV/4x4,8.202,125000
14345,Volkswagen,Polo Sedan,58000,Essence,Manuelle,5,Berline,4.2016,42000
14346,Peugeot,Expert,190000,Diesel,Manuelle,9,Utilitaire,3.2022,64800
14347,Audi,A5 Sportback,70000,Essence,Automatique,8,Berline,11.2019,122000

this dropped 8 rows

In [32]:
data["Année"].unique()

array(['2019', '2013', '2021', '2016', '2010', '2018', '2017', '2015',
       '2000', '2014', '2020', '2022', '2009', '2011', '2004', '1993',
       '2006', '2023', '2007', '20', '2008', '2005', '2012', '2024',
       '2001', '2003', '1998', '1997', '1994', '1989', '1995', '1988',
       '1999', '1990', '1996', '45', '1984', '3.2014', '1992', '1985',
       '2002', '1991', '87', '1987', '1982', '20225', '98', '20197',
       '20028', '5', '1', '07.2019', '8.2016', '20205', '02.2019',
       '2011.0', '1953', '12.2018', '11.2019', '21012', '2015.0', '20114',
       '1961', '2018.0', '2017.0', '05.2011', '13', '092021', '2030',
       '2007.0', '135000', '95', '2014.0', '00000', '03.2019', '20175',
       '2006.0', '02.2021', '6.2018', '10.2018', '5.2019', '5.201',
       '7.2012', '1.2013', '1.202', '3.2019', '3.2016', '12.2022',
       '6.2023', '8.2023', '9.2019', '3.202', '12.2023', '11.2022',
       '1.2021', '10.2019', '1.2009', '5.2014', '8.2015', '6.2019',
       '6.2022', '8.2012', '4.201', '10.2021', '3.2018', '2.2017',
       '12.2007', '4.2022', '3.2022', '3.2013', '10.2022', '5.2017',
       '7.2014', '1.2015', '4.2023', '10.2012', '11.2013', '1.2016',
       '12.2016', '5.2018', '5.2022', '12.202', '2.2022', '1.2019',
       '11.2012', '6.2021', '1.2018', '6.202', '9.2023', '8.202',
       '2.2016', '2.202', '2.2019', '2.2018', '11.2021', '6.2009',
       '10.2017', '12.2009', '8.2017', '9.2013', '11.202', '4.2014',
       '8.2022', '9.2014', '7.2015', '9.2012', '8.2008', '8.2013',
       '3.2021', '8.2018', '1.201', '6.2016', '9.2021', '2.2012',
       '12.2019', '6.2015', '5.202', '1.2022', '8.2019', '9.202',
       '2.2013', '1.2012', '10.2013', '5.2013', '7.2013', '9.2018',
       '4.2021', '2.2021', '8.2007', '8.201', '6.2012', '11.2018',
       '7.201', '5.2003', '4.2013', '1.2014', '11.2017', '9.2017',
       '8.2021', '10.2014', '12.2004', '7.2019', '4.2017', '10.2003',
       '10.201', '3.2011', '4.2012', '6.2', '6.2013', '8.2004', '11.2011',
       '11.2008', '12.2015', '6.2014', '2.2015', '5.2021', '1.1985',
       '9.2009', '12.2008', '11.2005', '4.2011', '7.202', '3.2009',
       '6.2017', '5.2016', '4.2018', '10.2016', '12.2013', '12.201',
       '4.2015', '12.2021', '10.202', '9.2011', '11.2015', '7.2011',
       '7.2018', '5.2015', '5.2007', '12.2003', '7.2004', '12.2012',
       '3.201', '7.2021', '2.2014', '4.2019', '4.2016', '4.2008',
       '1.2008', '8.2009', '6.2006', '9.2016', '7.2006', '12.2014',
       '2.2011', '9.2008', '7.2022', '5.2002', '5.2012', '8.2003',
       '2.2008', '10.2005', '11.2014', '7.2017', '3.2017', '9.2022',
       '3.2005', '5.2011', '7.2016', '12.2017', '4.2001', '3.2012',
       '11.201', '10.2009', '11.2016', '12.197', '9.2015', '6.201',
       '1.2011', '11.2003', '3.2015', '7.2023', '7.2008', '9.201',
       '8.2014', '11.2023', '4.202', '1.2023', '6.2008', '6.2003',
       '12.2011', '6.2011', '4.2007', '10.2015', '10.2006', '1.2024',
       '2.2024', '1.2017', '10.2007', '5.2006', '6.2007', '5.2009',
       '2.2023', '11.2006', '3.2024', '9.2002', '10.2008', '12.1992',
       '7.1998', '2.2007', '1.2003', '5.2023', '1.1972', '12.2006',
       '8.2011', '3.2023', '12.1998', '3.2007', '4.2003', '2.2009',
       '11.2009', '7.2007', '11.2', '6.2005', '7.2009', '7.2005',
       '5.2005', '12.1999', '1.1991', '9.2005', '12.2002', '1.2007',
       '7.2003', '1.2006', '2.201', '1.2004', '10.2023', '10.1963',
       '9.2003', '6.1999', '10.2011', '5.2', '2.2006', '2.2', '5.2008',
       '11.1997', '2.1999', '1.1999', '8.1994', '4.1999', '4.2024',
       '2.2004', '3.2', '8.1999', '4.2009', '10.2004', '3.2008', '9.2004',
       '2.1985'], dtype=object)

In [33]:
# Define a lambda function to split the string and select the second part
split_second_part = lambda x: x.split('.')[1] if '.' in x else x

# Apply the lambda function to the 'Année' column
data['Année'] = data['Année'].apply(split_second_part)

In [34]:
data

,Marque,Modèle,Kilométrage,Carburant,Boite Vitesse,Puissance Fiscale,Carrosserie,Année,Prix
0,Renault,Capture,121000,Essence,Manuelle,5,Autres,2019,43000
2,Mercedes-Benz,Classe A,135000,Diesel,Automatique,6,Compacte,2019,93000
3,Peugeot,Expert,154000,Diesel,Manuelle,5,Utilitaire,2019,57000
5,Citroen,C4,1000,Essence,Manuelle,6,Berline,2013,29000
6,Volkswagen,Polo,130000,Essence,Manuelle,5,Berline,2021,49500
...,...,...,...,...,...,...,...,...,...
14343,Renault,Kadjar,120000,Essence,Manuelle,7,Citadine,2017,65000
14344,Toyota,RAV 4,150000,Essence,Automatique,9,SUV/4x4,202,125000
14345,Volkswagen,Polo Sedan,58000,Essence,Manuelle,5,Berline,2016,42000
14346,Peugeot,Expert,190000,Diesel,Manuelle,9,Utilitaire,2022,64800
14347,Audi,A5 Sportback,70000,Essence,Automatique,8,Berline,2019,122000

In [35]:
data['Année'].unique()

array(['2019', '2013', '2021', '2016', '2010', '2018', '2017', '2015',
       '2000', '2014', '2020', '2022', '2009', '2011', '2004', '1993',
       '2006', '2023', '2007', '20', '2008', '2005', '2012', '2024',
       '2001', '2003', '1998', '1997', '1994', '1989', '1995', '1988',
       '1999', '1990', '1996', '45', '1984', '1992', '1985', '2002',
       '1991', '87', '1987', '1982', '20225', '98', '20197', '20028', '5',
       '1', '20205', '0', '1953', '21012', '20114', '1961', '13',
       '092021', '2030', '135000', '95', '00000', '20175', '201', '202',
       '2', '197', '1972', '1963'], dtype=object)

In [36]:
# Replace empty strings with NaN
data.replace({'Année': ''}, np.nan, inplace=True)

# Drop rows where 'Année' is empty (NaN)
data.dropna(inplace=True)

In [37]:
# Convert the "Année" column to integers
data['Année'] = data['Année'].astype(int)

# Filter the years between 1000 and 2025
data = data[(data['Année'] >= 1000) & (data['Année'] <= 2025)]

In [38]:
data["Année"].unique()

array([2019, 2013, 2021, 2016, 2010, 2018, 2017, 2015, 2000, 2014, 2020,
       2022, 2009, 2011, 2004, 1993, 2006, 2023, 2007, 2008, 2005, 2012,
       2024, 2001, 2003, 1998, 1997, 1994, 1989, 1995, 1988, 1999, 1990,
       1996, 1984, 1992, 1985, 2002, 1991, 1987, 1982, 1953, 1961, 1972,
       1963])

In [39]:
data

,Marque,Modèle,Kilométrage,Carburant,Boite Vitesse,Puissance Fiscale,Carrosserie,Année,Prix
0,Renault,Capture,121000,Essence,Manuelle,5,Autres,2019,43000
2,Mercedes-Benz,Classe A,135000,Diesel,Automatique,6,Compacte,2019,93000
3,Peugeot,Expert,154000,Diesel,Manuelle,5,Utilitaire,2019,57000
5,Citroen,C4,1000,Essence,Manuelle,6,Berline,2013,29000
6,Volkswagen,Polo,130000,Essence,Manuelle,5,Berline,2021,49500
...,...,...,...,...,...,...,...,...,...
14342,Seat,Leon,162500,Essence,Manuelle,5,Compacte,2014,42000
14343,Renault,Kadjar,120000,Essence,Manuelle,7,Citadine,2017,65000
14345,Volkswagen,Polo Sedan,58000,Essence,Manuelle,5,Berline,2016,42000
14346,Peugeot,Expert,190000,Diesel,Manuelle,9,Utilitaire,2022,64800
14347,Audi,A5 Sportback,70000,Essence,Automatique,8,Berline,2019,122000

this phase dropped 744 rows

# **clean data**

In [40]:
data['Kilométrage'].describe()

count    8.134000e+03
mean     1.455656e+05
std      2.047510e+05
min      1.000000e+03
25%      7.300000e+04
50%      1.230000e+05
75%      1.850000e+05
max      9.999999e+06
Name: Kilométrage, dtype: float64

In [41]:
data.shape

(8134, 9)

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8134 entries, 0 to 14347
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Marque             8134 non-null   object
 1   Modèle             8134 non-null   object
 2   Kilométrage        8134 non-null   int64
 3   Carburant          8134 non-null   object
 4   Boite Vitesse      8134 non-null   object
 5   Puissance Fiscale  8134 non-null   int64
 6   Carrosserie        8134 non-null   object
 7   Année              8134 non-null   int64
 8   Prix               8134 non-null   int64
dtypes: int64(4), object(5)
memory usage: 635.5+ KB

In [43]:
data.describe(include='all')

,Marque,Modèle,Kilométrage,Carburant,Boite Vitesse,Puissance Fiscale,Carrosserie,Année,Prix
count,8134,8134,8.134000e+03,8134,8134,8134.000000,8134,8134.000000,8134.000000
unique,71,543,NaN,8,2,NaN,11,NaN,NaN
top,Mercedes-Benz,Classe C,NaN,Essence,Manuelle,NaN,Berline,NaN,NaN
freq,956,305,NaN,5938,4465,NaN,2529,NaN,NaN
mean,NaN,NaN,1.455656e+05,NaN,NaN,7.973691,NaN,2015.245881,74092.036513
std,NaN,NaN,2.047510e+05,NaN,NaN,5.139973,NaN,6.072316,63518.887978
min,NaN,NaN,1.000000e+03,NaN,NaN,4.000000,NaN,1953.000000,4700.000000
25%,NaN,NaN,7.300000e+04,NaN,NaN,5.000000,NaN,2012.000000,36000.000000
50%,NaN,NaN,1.230000e+05,NaN,NaN,7.000000,NaN,2017.000000,55000.000000
75%,NaN,NaN,1.850000e+05,NaN,NaN,9.000000,NaN,2019.000000,89000.000000
max,NaN,NaN,9.999999e+06,NaN,NaN,85.000000,NaN,2024.000000,999999.000000

Najem/madhabiya naamel scaling wahdi bideya yrodhom lkol presque fard plage entre (1-100 mathalan) w nbadel asemi les colonnes accordingly fel prix wel kilometrage

In [44]:
clean_data=data
clean_data.to_csv("Initial_Clean_Data.csv", index=False)

# distinguishing categorical data

In [45]:
# Encode categorical variables

categorical_cols = ['Marque', 'Modèle', 'Carrosserie', 'Carburant', 'Boite Vitesse']
encoded_value_mappings = {}

for col in categorical_cols:
    label_encoder = LabelEncoder()
    clean_data.loc[:, col] = label_encoder.fit_transform(clean_data[col])

    encoded_value_mappings[col] = {label: category for label, category in enumerate(label_encoder.classes_)}

def save_mappings_to_csv(encoded_value_mappings, file_path):
    data = []
    for col, mapping in encoded_value_mappings.items():
        for encoded_value, categorical_label in mapping.items():
            data.append([col, encoded_value, categorical_label])

    df = pd.DataFrame(data, columns=['Column', 'Encoded_Value', 'Categorical_Label'])
    df.to_csv(file_path, index=False)

In [46]:
file_path = "encoded_value_mappings.csv"

# Call the function to save the mappings to a CSV file
save_mappings_to_csv(encoded_value_mappings, file_path)

In [47]:
mapped= pd.read_csv("/kaggle/working/encoded_value_mappings.csv")
mapped

            Column  Encoded_Value             Categorical_Label
0           Marque              0                            AC
1           Marque              1                    Alfa Romeo
2           Marque              2                          Audi
3           Marque              3                        Autres
4           Marque              4                       BAIC YX
..             ...            ...                           ...
630      Carburant              5               Hybride essence
631      Carburant              6   Hybride rechargeable diesel
632      Carburant              7  Hybride rechargeable essence
633  Boite Vitesse              0                   Automatique
634  Boite Vitesse              1                      Manuelle

[635 rows x 3 columns]

In [48]:
# Shuffle the dataset
data_shuffled = shuffle(clean_data, random_state=13)
# Save the dataframe to a CSV file in the notebook's working directory
data_shuffled.to_csv("Final_Shuffled_Clean_Data.csv", index=False)

data_shuffled.head()

,Marque,Modèle,Kilométrage,Carburant,Boite Vitesse,Puissance Fiscale,Carrosserie,Année,Prix
8078,47,160,170000,2,0,19,2,2008,78000
8696,47,143,119000,2,0,8,2,2015,115000
7228,47,241,83000,7,0,9,9,2021,193000
13052,20,414,91000,2,1,6,2,2019,44000
8001,47,151,138000,2,0,10,2,2016,145000

In [49]:
display(data_shuffled)

,Marque,Modèle,Kilométrage,Carburant,Boite Vitesse,Puissance Fiscale,Carrosserie,Année,Prix
8078,47,160,170000,2,0,19,2,2008,78000
8696,47,143,119000,2,0,8,2,2015,115000
7228,47,241,83000,7,0,9,9,2021,193000
13052,20,414,91000,2,1,6,2,2019,44000
8001,47,151,138000,2,0,10,2,2016,145000
...,...,...,...,...,...,...,...,...,...
4230,24,232,120000,2,1,5,10,2019,25000
13783,23,404,80000,0,0,7,8,2018,120000
120,47,143,183000,0,1,7,2,2009,47498
9035,5,458,150000,2,0,7,2,2014,70000
519,54,163,220000,2,0,6,5,2000,19500

In [50]:
# import seaborn as sns

In [51]:
# sns.pairplot(data_shuffled[["Marque", "Modèle", "Kilométrage", "Carburant","Boite Vitesse","Puissance Fiscale","Carrosserie","Année","Prix"]], diag_kind="kde")